@import "../node/node_modules/bootstrap/scss/bootstrap.scss";
.main .navbar-nav .nav-link {
    color: white;
}
#form {
    color: black;
    background-color: silver;
    border: 1px solid darkcyan;
}