@media only screen and (min-width: 150px) and (max-width: 720px) {
    .banner {
        .scroll-down {
            display: none;
        }
    }

    
    .banner img {
        height: 23rem;
    }

    #shop {
        display: flex;
        justify-content: center;

        .shopTitle {
            margin-left: unset;
            width: 70%;
        }
    }

    #products {
        article {
            grid-template-columns: repeat(1, 1fr);
        }
        .imageProduct {
            width: 80%;
        }
        .descriptionProduct {
            width: unset;
        }
    }

    #endPurchase, #endPurchaseTwo {
        #quantity, #cost, #result, .rowInput {
            width: 10rem;
        }
    }
}

@media only screen and (min-width: 720px) and (max-width: 960px) {
    .banner {
        .scroll-down {
            display: none;
        }
    }

    #shop {
        display: flex;
        justify-content: center;

        .shopTitle {
            margin-left: unset;
            width: 70%;
        }
    }

    #products {
        .imageProduct {
            width: 100%;
        }
        .descriptionProduct {
            width: unset;

            div {
                h2 {
                    font-size: 1.5rem;
                }
                h4 {
                    font-size: 0.8rem;
                }
            }
        }
    }

    #endPurchase, #endPurchase {
        #quantity, #cost, #result, .rowInput {
            width: 11rem;
        }
    }
}