* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

.mainLogo {
    width: 5rem;
}

.nav-link, .navbar-nav {
    text-decoration: none;
    list-style: none;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#buy {
    margin-top: 0.5rem;
    padding: 0.2rem 1rem;
    font-weight: bold;
}

#carro {
    width: 3rem;
    margin-right: 2rem;
}

.section-tittle {
    margin-top: 3rem;
    margin-left: 5%;
    border: 3px solid darkgoldenrod;
    width: 30%;
    text-align: center;
    background-color: black;
    border-radius: 1rem;
    color: lightyellow;
}